@model DaikinAPIModel
@{
    ViewData["Title"] = "Daikin Connect Dotnet";
}

<div>
    <main>
    <div style="display: @(Model.DeviceData == null ? "none" : "block");">
        <p>@Model.DeviceData</p>
    </div>
    <a href="@Model.DaikinAuthURL">Fetch Data</a>
    </main>
</div>
