@model DaikinAPIModel
@{
    ViewData["Title"] = "Daikin Connect Dotnet";
}

<div style="display: @(Model.DeviceData == null ? "none" : "block");">
    <textarea style="height:800px; width:1200px;">@Model.DeviceData</textarea>
</div>
<a href="@Model.DaikinAuthURL">Fetch Data</a>
